header {
    width: 100%;
    height: 2060px;
    background-image: url(../images/page-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header_inner {
    max-width: 1005px;
    margin: 0 auto;
}

.header_top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
}

.header_nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_nav > a {
    width: 67px;
    height: 90px;
}

.header_nav > a > img {
    width: 100%;
    height: 100%;
}

.header_nav > div {
    margin-left: 20px;
}

.header_nav > div > a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.064px;
    color: #000000;
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
}

.header_nav > div > a:hover {
    text-decoration: underline;
}

.header_contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_contacts > img {
    width: 16px;
    height: 16px;
}

.header_contacts > a {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.072px;
    color: #000000;
}

.header_contacts > div {
    display: -ms-flexbox;
    display: flex;
    margin-left: 35px;
}

.header_contacts > div > a {
    padding: 15px 17px;
    background-color: #56B145;
    border-radius: 50px;
}

.header_contacts > div > a:last-child {
    margin-left: 8px;
}

.header_contacts > div > a > img {
    width: 18px;
    height: 18px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.header_content {
    margin-top: 60px;
}

.header_content > h1 {
    max-width: 480px;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.18px;
}

.header_content > h1 > span {
    font-weight: 700;
    color: #84BF6D;
}

.header_content > div {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_content > div > a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.072px;
}

.header_content > div > a:first-child {
    color: #fff;
    background-color: #84BF6D;
    padding: 15px 35px;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}

.header_content > div > a:first-child:hover {
    background-color: #fff;
    color: #84BF6D;
}

.header_content > div > a:last-child {
    margin-left: 35px;
    color: #000;
}

.header_content_adv {
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

.header_content_adv > div {
    max-width: 195px;
    text-align: center;
}

.header_content_adv > div:last-child {
    margin-left: 70px;
}

.header_content_adv > div > img {
    width: 140px;
    height: 136px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.header_content_adv > div > p {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.072px;
}

.header_content_text {
    display: block !important;
    margin-top: 120px !important;
}

.header_content_text > h1 {
    max-width: 480px;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.18px;
}

.header_content_text > h1 > span {
    font-weight: 700;
    color: #84BF6D;
}

.header_content_text > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.064px;
    max-width: 400px;
    margin-top: 50px;
}

.header_slider {
    margin-top: 180px;
}

.header_slider > img {
    width: 143px;
    height: 143px;
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
    z-index: 2322323;
}

.header_slider > div {
    margin-left: 72px;
    max-width: 882px;
    max-height: 510px;
}

.header_slider-slider {
    overflow: hidden;
}

.header_slider-slider > div {
    max-width: 882px;
    height: 465px;
}

.header_slider-slider > div > img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.header_slider-dots {
    margin-top: 30px;
}

ul.slick-dots {
    display: -ms-flexbox;
    display: flex;
}

ul.slick-dots > li {
    width: 13px;
    height: 13px;
    background: #E3EBE2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    list-style-type: none;
    margin-left: 15px;
    cursor: pointer;
}

ul.slick-dots > li.slick-active {
    background: #56B145;
}

ul.slick-dots > li > button {
    display: none;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}