@charset "UTF-8";

html {
    scroll-behavior: smooth;
    scroll-padding-block: 100px;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}

header {
    max-width: 1293px;
    margin: 0 auto;
    height: 2060px;
    background-image: url(../images/page-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header_inner {
    max-width: 1005px;
    margin: 0 auto;
}

.header_top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
}

.header_nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_nav > a {
    width: 67px;
    height: 90px;
}

.header_nav > a > img {
    width: 100%;
    height: 100%;
}

.header_nav > div {
    margin-left: 20px;
}

.header_nav > div > a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.064px;
    color: #000000;
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
}

.header_nav > div > a:hover {
    text-decoration: underline;
}

.header_contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_contacts > img {
    width: 16px;
    height: 16px;
}

.header_contacts > a {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.072px;
    color: #000000;
}

.header_contacts > div {
    display: -ms-flexbox;
    display: flex;
    margin-left: 35px;
}

.header_contacts > div > a {
    padding: 15px 17px;
    background-color: #56B145;
    border-radius: 50px;
}

.header_contacts > div > a:last-child {
    margin-left: 8px;
}

.header_contacts > div > a > img {
    width: 18px;
    height: 18px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.header_content {
    margin-top: 60px;
}

.header_content > h1 {
    max-width: 480px;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.18px;
}

.header_content > h1 > span {
    font-weight: 700;
    color: #84BF6D;
}

.header_content > div {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header_content > div > a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.072px;
}

.header_content > div > a:first-child {
    color: #fff;
    background-color: #84BF6D;
    padding: 15px 35px;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}

.header_content > div > a:first-child:hover {
    background-color: #fff;
    color: #84BF6D;
}

.header_content > div > a:last-child {
    margin-left: 35px;
    color: #000;
}

.header_content_adv {
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

.header_content_adv > div {
    max-width: 195px;
    text-align: center;
}

.header_content_adv > div:last-child {
    margin-left: 70px;
}

.header_content_adv > div > img {
    width: 140px;
    height: 136px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.header_content_adv > div > p {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.072px;
}

.header_content_text {
    display: block !important;
    margin-top: 120px !important;
}

.header_content_text > h1 {
    max-width: 480px;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.18px;
}

.header_content_text > h1 > span {
    font-weight: 700;
    color: #84BF6D;
}

.header_content_text > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.064px;
    max-width: 400px;
    margin-top: 50px;
}

.header_slider {
    margin-top: 180px;
}

.header_slider > img {
    width: 143px;
    height: 143px;
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
    z-index: 2322323;
}

.header_slider > div {
    margin-left: 72px;
    max-width: 882px;
    max-height: 510px;
}

.header_slider-slider {
    overflow: hidden;
}

.header_slider-slider > div {
    max-width: 882px;
    height: 465px;
}

.header_slider-slider > div > img {
    width: 100%;
}

.header_slider-dots {
    margin-top: 30px;
}

ul.slick-dots {
    display: -ms-flexbox;
    display: flex;
}

ul.slick-dots > li {
    width: 13px;
    height: 13px;
    background: #E3EBE2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    list-style-type: none;
    margin-left: 15px;
    cursor: pointer;
}

ul.slick-dots > li.slick-active {
    background: #56B145;
}

ul.slick-dots > li > button {
    display: none;
}

.advantage {
    margin-top: -230px;
}

.advantage > div:nth-child(1) {
    display: -ms-flexbox;
    display: flex;
}

.advantage > div:nth-child(1) > img {
    width: 24px;
    height: 24px;
    margin-top: 40px;
}

.advantage > div:nth-child(1) > h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.22px;
    margin-left: 20px;
}

.advantage > div:nth-child(2) {
    display: -ms-flexbox;
    display: flex;
}

.advantage > div:nth-child(2) > img {
    width: 24px;
    height: 24px;
    margin-top: 290px;
}

.advantage_items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 80px;
}

.advantage_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
}

.advantage_item > img {
    width: 135px;
    height: 131px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.advantage_item > p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.12px;
    margin-left: 45px;
}

.goods {
    margin-top: 100px;
}

.goods_heading {
    display: -ms-flexbox;
    display: flex;
}

.goods_heading > h1 {
    max-width: 340px;
    font-weight: normal;
    font-size: 55px;
    line-height: 61px;
    letter-spacing: 0.18px;
    margin-left: 20px;
    -ms-flex-item-align: center;
    align-self: center;
}

.goods_heading > h1 > span {
    font-weight: 700;
    color: #84BF6D;
}

.goods_heading > img {
    width: 135px;
    height: 152px;
    margin-left: 30px;
    margin-top: -10px;
}

.goods_heading > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08px;
    max-width: 392px;
    margin-left: auto;
    -ms-flex-item-align: center;
    align-self: center;
}

.goods_items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 100px;
}

.goods_item {
    width: 25%;
    height: 424px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.goods_item:hover {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.253059);
    border-radius: 15px;
}

.goods_item:hover > a {
    opacity: 1;
    pointer-events: unset;
}

.goods_item > img {
    width: 90%;
    height: 285px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.goods_item > p {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.096px;
    margin-top: 20px;
}

.goods_item > a {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background: #56B145;
    border-radius: 6px;
    padding: 12px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  /* identical to box height */
    text-align: center;
    letter-spacing: 0.072px;
    color: #fff;
    margin-top: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.services {
    background-image: url(../images/services.png);
    height: 445px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services > .container {
    height: 100%;
}

.services_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    height: 100%;
}

.services_inner > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 75%;
    color: #fff;
}

.services_inner > div > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.096px;
    max-width: 318px;
}

.services_inner > div > div {
    display: -ms-flexbox;
    display: flex;
}

.services_inner > div > div > p {
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: 0.12px;
}

.services_inner > div > div > p > span {
    color: #56B145;
}

.services_inner > div > div > p:last-child {
    margin-left: 70px;
}

.services_inner > div > span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #56B145;
}

.about > img {
    width: 224px;
    height: 172px;
    margin-left: -90px;
    margin-top: -86px;
}

.about_inner > div:nth-child(1) {
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
}

.about_inner > div:nth-child(1) > h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.22px;
}

.about_inner > div:nth-child(1) > img {
    width: 44px;
    height: 44px;
    margin-left: 35px;
}

.about_items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about_item {
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 130px;
}

.about_item > img {
    width: 52px;
    height: 52px;
}

.about_item > div {
    max-width: 245px;
}

.about_item p {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.096px;
    height: 57px;
}

.about_item span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.056px;
    margin-top: 30px;
}

.work {
    width: 100%;
    height: 547px;
    background-image: url(../images/work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 210px;
}

.work_inner {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.work_inner > div.work_inner_content {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.work_inner > div.work_inner_content > img {
    max-width: 442px;
    max-height: 445px;
    margin-top: -12%;
}

.work_inner > div.work_inner_content > div {
    max-width: 390px;
}

.work_inner > div.work_inner_content > div > h1 {
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    margin-top: 45px;
}

.work_inner > div.work_inner_content > div > p {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #FFFFFF;
    max-width: 384px;
    margin-top: 60px;
}

.work_items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 30px;
    margin-top: auto;
    margin-bottom: 50px;
}

.work_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 113px;
    height: 113px;
    border-radius: 13px;
    cursor: pointer;
}

.work_item:hover {
    background-color: #0D3D04;
}

.work_item > img {
    width: 66px;
    height: 55px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.form_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 75px;
}

.form_inner > div:nth-child(1) input, .form_inner > div:nth-child(1) button {
    display: block;
    width: 100%;
}

.form_inner > div:nth-child(1) > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.072px;
    max-width: 480px;
    color: #000000;
    margin-top: 25px;
}

.form_inner > div:nth-child(1) > form {
    max-width: 380px;
}

.form_inner > div:nth-child(1) > form > input {
    width: calc(100% - 25px);
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 8px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.08px;
    color: #000000;
    padding-left: 25px;
}

.form_inner > div:nth-child(1) > form > input.margin {
    margin-top: 10px;
}

.form_inner > div:nth-child(1) > form > input::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.form_inner > div:nth-child(1) > form > input::-moz-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.form_inner > div:nth-child(1) > form > input:-ms-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.form_inner > div:nth-child(1) > form > input::-ms-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.form_inner > div:nth-child(1) > form > input::placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.form_inner > div:nth-child(1) > form > button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #FFFFFF;
    background: #56B145;
    border-radius: 14px;
    border: none;
    padding: 24px 0;
    margin-top: 15px;
    cursor: pointer;
}

.form_inner > div:nth-child(2) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form_inner > div:nth-child(2) > p {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.12px;
    max-width: 425px;
    color: #000000;
}

.form_inner > div:nth-child(2) > img {
    max-width: 575px;
    max-height: 260px;
}

.modal {
    position: fixed;
  /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
    z-index: 1050;
    opacity: 0;
  /* по умолчанию модальное окно прозрачно */
    transition: opacity 200ms ease-in;
  /* анимация перехода */
    pointer-events: none;
  /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
  /* делаем окно видимым */
    pointer-events: auto;
  /* элемент видим для событий мыши */
    overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.modal-body > div {
    width: 90%;
    margin: 0 auto;
}

.modal-body > div input, .modal-body > div button {
    display: block;
    width: 100%;
}

.modal-body > div > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.072px;
    max-width: 480px;
    color: #000000;
    margin-top: 25px;
}

.modal-body > div > form {
    max-width: 100%;
}

.modal-body > div > form > input {
    width: calc(100% - 25px);
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 8px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.08px;
    color: #000000;
    padding-left: 25px;
}

.modal-body > div > form > input.margin {
    margin-top: 10px;
}

.modal-body > div > form > input::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.modal-body > div > form > input::-moz-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.modal-body > div > form > input:-ms-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.modal-body > div > form > input::-ms-input-placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.modal-body > div > form > input::placeholder {
    font-weight: 700;
    font-size: 20px;
  /* identical to box height */
    letter-spacing: 0.08px;
    color: #000000;
}

.modal-body > div > form > button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #FFFFFF;
    background: #56B145;
    border-radius: 14px;
    border: none;
    padding: 24px 0;
    margin-top: 15px;
    cursor: pointer;
}

.base {
    display: none;
}

.base.active {
    display: -ms-flexbox;
    display: flex;
}

.base.off {
    display: none;
}

.private_house {
    display: -ms-flexbox;
    display: flex;
}

.private_house.active {
    display: -ms-flexbox;
    display: flex;
}

.private_house.off {
    display: none;
}

.office {
    display: none;
}

.office.active {
    display: -ms-flexbox;
    display: flex;
}

.office.off {
    display: none;
}

footer {
    background-image: url(../images/footer-bg.png);
    width: 100%;
    height: 1095px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_inner {
    padding-top: 45px;
}

.footer_inner > h1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
  /* identical to box height */
    letter-spacing: 0.12px;
    color: #FFFFFF;
}

.footer_inner > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer_inner_images {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.footer_inner_images > img:first-child {
    max-width: 600px;
    max-height: 510px;
    width: 100%;
}

.footer_inner_images > img:last-child {
    max-width: 385px;
    max-height: 510px;
    width: 100%;
}

.footer_inner > img {
    width: 24px;
    height: 24px;
    margin-left: 100px;
    margin-top: 40px;
}

.footer_social {
    margin-top: 25px;
}

.footer_social > a {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.096px;
    color: #FFFFFF;
}

.footer_social > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.footer_social > div > p {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.048px;
    color: #FFFFFF;
    margin-right: 20px;
}

.footer_social > div > a {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.footer_social > div > a > img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.footer_contacts {
    margin-top: 65px;
}

.footer_contacts > div > span {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  /* identical to box height */
    letter-spacing: -0.393921px;
    color: #96A794;
}

.footer_contacts > div > p, .footer_contacts > div a {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.393921px;
    color: #FFFFFF;
}

.footer_contacts > div > p {
    margin-top: 35px;
}

.footer_copyright {
    margin-top: 55px;
}

.footer_copyright > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.footer_copyright > div > h1 {
    font-weight: bold;
    font-size: 24px;
  /* identical to box height */
    letter-spacing: 0.096px;
    color: #FFFFFF;
    margin-left: 15px;
}

.footer_copyright > div > span {
    font-weight: normal;
    font-size: 14px;
  /* identical to box height */
    letter-spacing: 0.056px;
    color: #FFFFFF;
    margin-left: 55px;
}

.footer_copyright > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.056px;
    color: #FFFFFF;
}

.footer_copyright > p > a {
    color: #FFFFFF;
}

.slick-initialized .slick-slide {
    display: -ms-flexbox;
    display: flex;
}

#footerCarusel {
    overflow: hidden;
}